@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto:wght@500&display=swap');

:root {
  --background-color: #313338;
  --welcome-section: rgb(247, 96, 91);
  --projects-section: #e9ad54;
  --main-textColor: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--main-textColor);
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 300;
  transition: 0.5s ease-in;
  overflow-x: hidden;
  }
#navbar h1 {
  font-family: 'Dancing Script', cursive;
}
#navbar {
  position: fixed;
  top: 0;
  /* right: 0; */
  z-index: 1;
  width: 100%;
  background-color: var(--background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  }
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  }
@media (max-width: 800px) {
  nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  }
  }
nav a {
  color: var(--main-textColor);
  text-decoration: none;
  display: block;
  }
nav a:hover {
  color: #e3bb1b;
  text-decoration: none;
  display: block;
  }
#theme-options-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.theme-dot {
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 50%;
  background-color: #000;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#red-mode {
  background-color: rgb(247, 96, 91);
}

#blue-mode {
  background-color: rgb(29, 32, 161);
}

#green-mode {
  background-color: #70ee57;
}

#welcome-section {
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--welcome-section);
  height: 100vh;
  padding-top: 200px;
  text-align: center;
  }
#welcome-section h1 {
  font-size: 4.5rem;
  }
#welcome-section h3 {
  font-style: italic;
  }
  
  #projects {
    background-color: var(--projects-section);
    padding-top: 50px;
  }

  .container {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  padding: 30px;
  justify-items: center;
  align-items: center;
}
@media (max-width: 1100px){
  .container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
}
@media (max-width: 730px){
  .container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  padding: 30px;
  justify-items: center;
  align-items: center;
  }
  }
.project-tile {
  background-color: var(--main-textColor);
  border: 5px solid var(--background-color);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 80%;
  height: 350px;
  }
#projects h1 {
  text-align: center;
  color: var(--background-color);
}
.project-tile:hover {
  transform: scale(1.05);
  }
#text {
  text-decoration: none;
  color: var(--background-color);
  }
img {
  width: 300px;
  }
#Amazon {
  background-color: #b8cef2;

  }
#JavaScript {
  background-color: #c7daf2;
  }

.contact-info {
  padding-left: 20px;
  margin-top: 20px;
  }
  
#contact {
  background-color: var(--background-color);
  display: flex;
  justify-content: space-between;
  border-top: 4px solid var(--welcome-section);
  margin-top: 30px;
  }

#contact a {
  text-decoration: none;
  color: var(--main-textColor);
  padding: 20px;
  }

  .icons {
    padding-right: 20px;
    margin-top: 30px;
  }

@media screen and (max-width: 730px) {
  #navbar {
    font-size: 1.2rem;
  }
  
  #theme-options-wrapper {
    margin-left: 0.5rem;
  }
  #theme-options-wrapper h5 {
    display: none;
  }

  #contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
}

@media screen and (max-width: 600px) {
  .theme-dot {
    height: 1.2rem;
    width: 1.2rem;
  }
}