@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
  --red-color: rgb(226, 46, 46);
  --black-color: rgb(17, 17, 17);
  --beige-color: rgb(231, 204, 112);
  --text-color: #F9F6EE;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  /* margin-top: -20px; */
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
/* header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 130px;
  background-color: var(--red-color);
  top: 0;
  z-index: 1;
  border-bottom: 2px solid var(--beige-color);
}

.header img {
  width: 10rem;
  height: 7rem;
  padding: .5rem;
}

.nav-bar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: .5rem;
}

.nav-bar li {
  list-style-type: none;
}

.nav-bar li a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 1.3rem;
}

.nav-bar li a img {
  width: 4rem;
  height: 4rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
  position: relative;
  top: 130px;
}
/* mission-statement */
.mission-statement {
  background-image: url(./Images/backgroundLesPaul1.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mission-statement p {
  text-align: center;
  font-size: 3rem;
  color: var(--text-color);
  font-family: 'Dancing Script', cursive;

}
/* collections */

.collections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--red-color);
  /* margin-bottom: 0; */
}

.collections h1 {
  font-size: 3rem;
}

.collections-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.collections-container {
  border: 1px solid var(--beige-color);
  width: 20rem;
  height: 40rem;
  background-color: var(--black-color);
  margin-bottom: 2rem;
  color: var(--text-color);
}

.collections-container p {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-align: center;
}

.collections-container img {
  width: 30rem;
  transform: rotate(-90deg);
  position: relative;
  top: 10rem;
  right: 5rem;
  /* border: 1px solid red; */
}


/* quotes */



.quote {
  height: 35rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: -2rem;

}

.quote p {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  position: relative;
  top: 20rem;
  color: var(--text-color);
  text-align: center;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.quote.slash {
  background-image: url(./Images/slash.jpg); 
}
.quote.angus {
  background-image: url(./Images/angusYoung.jpg);
}
/* staff */

.staff-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
  background-color: var(--red-color);
  margin-bottom: 1rem;
}

.staff {
  border: 1px solid var(--beige-color);
  width: 20rem;
  height: 40rem;
  margin: 1rem;
  background-color: var(--black-color);
  color: var(--text-color);
  font-size: 1.5rem;
  text-align: center;
}

.staff img {
  width: 100%;
  margin-top: 2rem;
}

/* footer */

footer {
  position: relative;
  top: 7rem;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  padding: .5rem 1rem;
  border-top: 1px solid var(--beige-color);
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons img {
  width: 3rem;
  background-color: var(--red-color);
  border-radius: 2px;
  padding: 0.2rem;
}
